<%- include('header') %>
<section>
  <h2>Adicionar Novas Vagas:</h2>
  <section>
    <form>
      <label>Título</label>
      <input type="" /><br />
      <label>Descrição</label>
      <textarea></textarea><br />
      <label>Categoria</label>
      <select>
        <option value="" selected disabled hidden></option>
        <option>Engenharia</option>
        <option>Marketing</option>
      </select>
      <br />
      <button>Salvar Vaga</button>
    </form>
  </section>
</section>
<%- include('footer') %>
