<%- include('header') %>
<section>
  <h2>Admin:</h2>
  <section class="button_admin">
    <ul>
      <li><a href="/admin/categorias">Gerenciar Categorias</a></li>
      <li><a href="/admin/vagas">Gerenciar Vagas</a></li>
    </ul>
  </section>
</section>
<%- include('footer') %> <%- /* //const categoria = "Engineering team"; //await
db.run(`insert into categorias(categoria) values('${categoria}')`); //const
vaga1 = "Digital Marketing (Curitiba-PR)"; //const desc1 = "Vaga para Digital
Marketing para trabalhar em Curitiba-PR"; //const vaga2 = "Fullstack Developer
(Remote)"; //const desc2 = "Vaga para Fullstack Developer para trabalhar
remoto"; //await db.run( // `insert into vagas(categoria, titulo, descricao)
values(1, '${vaga1}', '${desc1}')` //); //await db.run( // `insert into
vagas(categoria, titulo, descricao) values(2, '${vaga2}', '${desc2}')` //); */
%>
