<%- include('header') %>
<section>
  <h2>Admin:</h2>
  <section class="button_admin">
    <ul>
      <li><a href="/admin/categorias">Gerenciar Categorias</a></li>
      <li><a href="/admin/vagas">Gerenciar Vagas</a></li>
    </ul>
  </section>
</section>
<%- include('footer') %>
