<%- include('header') %>

<section>
  <h2>Admin Vagas:</h2>
  <ul>
    <% vagas.forEach( vaga => { %>

    <li>
      <%- vaga.titulo %> | <a href="/admin/vagas/<%- vaga.id %>">Excluir</a>
    </li>
    <%}) %>
  </ul>
</section>

<%- include('footer') %>
