    <footer>
      <p>
        Desenvolvido por:
        <a href="https://www.linkedin.com/in/jose-wilson-jr/" target="_blank">
          JuniorZe</a
        >
      </p>
    </footer>
  </body>
</html>
