<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <!-- com zoom initial-scale=1 | Sem zoom user-scalable=no" -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Este site tem a função de" />
    <meta name="keywords" content="jobify, job, trabalho" />
    <meta name="copyright" content="© JuniorSilva 2018" />
    <meta name="author" content="JuniorZe" />
    <script type="text/javascript"></script>
    <title>Jobify</title>
  </head>
  <body>
    <header>
      <h1>
        <a href="/">
          <img src="/images/logo-roxo.png" alt="Jobify logo - by DevPleno"
        /></a>
      </h1>
      <p>We are Jobify - Join us!</p>
    </header>
  </body>
</html>
